<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>485737316796-a2gv7gicpip3mlo79tftjdteuivk16s7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.485737316796-a2gv7gicpip3mlo79tftjdteuivk16s7</string>
	<key>API_KEY</key>
	<string>AIzaSyADDts_LLkJC9GvQsj2qVXQTneg3mULRIg</string>
	<key>GCM_SENDER_ID</key>
	<string>485737316796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codygordon.AceMobileAppTemplate</string>
	<key>PROJECT_ID</key>
	<string>boyfriend-application-36fff</string>
	<key>STORAGE_BUCKET</key>
	<string>boyfriend-application-36fff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:485737316796:ios:3c16be1667c680747cebb9</string>
	<key>DATABASE_URL</key>
	<string>https://boyfriend-application-36fff.firebaseio.com</string>
</dict>
</plist>